body {
  background: #fafafa;
}
body > .container {
  max-width: 820px;
}
body > footer {
  background-color: #fff;
  padding: 4rem;
}

td, th {
  padding: 1.2rem 2rem;
}

.card {
  margin: 5rem auto;
  background: #fff;
}

.card header h2 {
  font-weight: lighter;
  margin-top: 0;
}

.card header .video {
  font-size: 12px;
  float: right;
  padding: 1rem 1.5rem;
}
.card header .video .fa {
  font-size: 16px;
  line-height: 12px;
}

.bg-highlight {
  background-color: #C8F463;
}
.bg-highlight,
.bg-success,
.bg-error {
  padding-left: .4rem;
  padding-right: .4rem;
}

.social {
  display: inline-block;
  padding: 8px;
}
.color-twitch {
  color: #6441A5;
}
.color-youtube {
  color: #FF0000;
}
.color-twitter {
  color: #1DA1F2;
}
.color-facebook {
  color: #4064AC;
}

.button {
  cursor: pointer;
}
.button.small {
  padding: 0.4rem 1rem;
}
.button.white,
.button.outline.white {
  background: #fff;
}

fieldset {
  background: #fff;
}
select {
  background: #fff no-repeat 100%;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 13px;
  }
  td, th {
    padding: 6px;
  }
  th.min-1 {
    min-width: 100px;
  }
  th.min-2 {
    min-width: 200px;
  }
  .container {
    padding: 5px;
  }
  .card {
    padding: 5px;
    margin: 10px auto;
  }
  .text-small {
    font-size: 12px;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.table-responsive > table {
  width: 100%;
  max-width: 100%;
}