body {
  background: #fafafa;
}
body > .container {
  max-width: 780px;
}
body > footer {
  background-color: #fff;
  padding: 4rem;
}

td, th {
  padding: 1.2rem 2rem;
}

.card {
  margin: 5rem auto;
  background: #fff;
}

.card header h2 {
  font-weight: lighter;
  margin-top: 0;
}

.card header .video {
  font-size: 12px;
  float: right;
}

.social {
  display: inline-block;
  padding: 8px;
}
.color-twitch {
  color: #6441A5;
}
.color-youtube {
  color: #FF0000;
}
.color-twitter {
  color: #1DA1F2;
}
.color-facebook {
  color: #4064AC;
}